body {
    font-family: Arial, sans-serif;
}

#container {
    padding: 100px;
    width: 500px;
    height: 100%;
    background-color: #00FF00;
}

#track {
    width: 500px;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    margin: 30px auto;
}

#bus {
    height: 100px;
    width: 100px;
    position: relative;
    left: 0px;
   
}

#stopButton {
    padding-top: 15px;
    margin: 10px auto;
    background-color: white;
    width: 100px;
    height: 50px;
    color: red;
    text-align: center;
    font-size: 24px;
    line-height: 30px;
}
#bus img {
    width: 100%;
    height: 100%;
}