
body {
    background: linear-gradient(135deg, #ff7e5f, #feb47b);
    color: #e863a7;

    font-family: 'Roboto', sans-serif;
     display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}


h1 {
    font-size: 4rem;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    margin-bottom: 1rem;
    animation: fadeIn 4s ease-in-out;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}


button {
    background-color: #ffffff;
    color: #ff7e5f;
    padding: 1rem 2rem;
    font-size: 1.2rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

button:hover {
    background-color: #9b1e0d;
    color: #ffffff;
   box-shadow: 0 0 20px rgba(158, 9, 9, 0.2);
}

