
.eye {
    background-color: rgb(9, 9, 15);
    width: 30%;
    height: 30%;
    border-radius: 50%;
  }
  
  .arm {
    background-color: #c70707;
    position: absolute;
    top: 35%;
    width: 3%;
    height: 40%;
  }
  
  #head {
    width: 10%;
    height: 30%;
    border-radius: 15%;
    background-color: #dadada;
    position: absolute;
    left: 33%;
    top: 5%;
  }
  
  #righteye {
    position: absolute;
    left: 20%;
    top: 20%;
  }
  
  #lefteye {
    position: absolute;
    left: 60%;
    top: 20%;
  }
  
  #mouth {
    position: absolute;
    width: 65%;
    height: 15%;
    left: 20%;
    top: 70%;
    background-color: rgb(232, 225, 225);
  }
  
  #body {
    position: absolute;
    left: 25%;
    top: 35%;
    width: 45%;
    height: 55%;
    background-color: #dadada;
    text-align: center;
    padding-top: 30px;
  }
  
  #rightarm {
    position: absolute;
    left: 70%;
  }
  
  #leftarm {
    position: absolute;
    left: 20%;
    width: 15%;
    height: 5%;
  }
  
  /******#nose {
    position: absolute;
    left: 45%;
    top: 50%;
    width: 10%;
    height: 10%;
    background-color: black;
  }
  body {
    font-family: "Comic Sans MS", cursive, sans-serif;
  }
  
  p {
    font-size: 3em;
  }
  