body {
    font-family: "Comic Sans MS";
    background-color: blueviolet;
}
#inputWords {
    float:left;
    width: 45%;
    color: white;
}
ul {
    list-style-type: none;
    padding: 50px;
    margin: 50px;
}
li {
    line-height: 2em;
    text-transform: uppercase;
    margin-top: 8px;
}
input[type=text] {
    border-width: 0 0 1px 0;
    border-color: #333;
    background-color: transparent;
    box-sizing: border-box;
    width: 100%;  

}
#buttonDiv {
    text-align: center;
}
#replaceButton {
    margin-top: 60px;
    width: 200px;
    height: 50px;
    font-size: 40px;
    color: tomato;
}
#story {
    margin-top: 12px;
    width: 45%;
    border: 50%px dashed rgb(239, 5, 137);
    padding: 8px;
    float: left;
    box-sizing: border-box;



}
.replacement {
    text-decoration: underline;
    text-transform: uppercase;
    width: auto;
    float: right;
    color: tomato;
}